<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${name}">name</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${name}">Title</span>&emsp;<span>
		<font size="3">
		<a th:href="${delete}">delete</a>
		</font>
		</span> </h1>
		<br>
		<h3>Related movies of this genre:</h3>
		<tr th:each="movie : ${movies}">
			<a th:href="${'/titles/' + movie.id}"/><br/><br/>
			<td th:text="${movie.name}"></td>
			</a>
		</tr>
		<br><br><br><br>
		
		<a href="/">Home</a>

    </body>
</html>
