<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Lisäyssivu</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Lisää elokuva</h1>
        
        <form method="POST" action="">
            Elokuvan nimi:<br/>
            <input type="text" name="name"/><br/>
            Elokuvan julkaisuvuosi:<br/>
            <input type="text" name="year"/><br/>
            Elokuvan kesto minuutteina:<br/>
            <input type="text" name="length"/><br/>
            Ohjaajan nimi:<br/>
            <input type="text" name="director"/><br/>
            Genre:<br/>
            <input type="text" name="genre"/><br/>
            Lyhyt kuvaus elokuvasta:<br/>
            <input type="text" name ="description"/><br/>
            <input type="submit" value="Lisää elokuva"/>
            
        </form>    
        

        <h1>Lisää henkilö</h1>
    </body>
</html>
