<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${name}">name</title>
        <meta charset="utf-8" />
		<style>
		* {
			box-sizing: border-box;
		}

		body {
			margin: 10;
		}

		/* Create two unequal columns that floats next to each other */
		
		.column {
			float: left;
			width: 600px;
		}
		
		p {
			white-space:normal;
		}
		

		.left {
			width: 500px;
			float: left;
		}

		.right {
			max-width: 500px;
			float: left;
		}

		/* Clear floats after the columns */

		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		</style>
    </head>

    <body>
        <a href="/">Home</a>
        <h1><span th:text="${name}">Title</span>&emsp;<span>
		<font size="3">
		<a th:href="${delete}">delete</a>
		</font>
		</span> </h1>
		<div class="row">
			<div class="column">
				<div class="left">
					<h3>Personal Bio:</h3>
					<p th:text="${bio}">Bio</p>
					
					<br>
					
					<form method="POST" action="">
						<p>Edit bio:<br/>
						<input type="text" name="bio" style="height:30px;width:500px"/><br/>
						<br>
						<input type="submit" value="Accept"/>
					</form>
				</div>
				<div class="left">
					&emsp;
				</div>
			</div>
			
			<div class="right">
				<h3>Appears in the following titles:</h3>
				<tr th:each="movie : ${movies}">
					<a th:href="${'/titles/' + movie.id}"/><br/><br/>
					<td th:text="${movie.name}"></td>
					</a>
				</tr>
			</div>
		</div>
		
		<br><br><br>
		
		

    </body>
</html>
