<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
                <a href="/">Home</a>
		<title>Search page</title>
		<meta charset="utf-8" />
		<style>
		* {
			box-sizing: border-box;
		}

		body {
			margin: 10;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}
		
		.column  {
			float: left;
		}
		</style>
	</head>
	
	<body>
		<div>
			<h1>Search page</h1>
			<br>
			<h3>Search type:</h3>
			<form method="POST" action="searchType">
				<select name="typeDrop" style="height:25px;width:100px">
					<option name="Title">Movies</option>
					<option name="Person">People</option>
					<option name="Genre">Genre</option>
				</select><br><br>
				<input type="submit" value="Select" style="height:30px;width:100px"/>
			</form>
			<br>
			<form method="POST" action="searchContent" th:each="x: ${count1}">
				<div class="row">
				<p class="column">Search field:<br>
				<input type="text" name="searchText" style="height:30px;width:400px"/></p>
				<p class="column">
				<span th:each="x: ${count2}">
				Choose search parameter:<br>
				<select name="paramDrop" style="height:30px;width:150px">
					<option name="Name">name</option>
					<option name="Year">year</option>
					<option name="Desc">description</option>
					<option name="Genre">genre</option>
				</select></span></p>
				</div>
				<br>
				
				<input type="submit" value="Search" style="height:30px;width:100px"/>
			</form>
		</div>
		
		<br><br><br><br>
		
		<div>
		<h2>Results:</h2>
		<p th:each="thing: ${things}"><a th:href="${pointer + thing.id}"/><span th:text="${thing.name}">thing</span></a></p>
		</div>
		
	</body>
</html>