<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${name}">name</title>
        <meta charset="utf-8" />
		<style>
		* {
			box-sizing: border-box;
		}

		body {
			margin: 10;
		}

		/* Create two unequal columns that floats next to each other */
		.column {
			float: left;
			padding: 30px;
		}

		.left {
		  width: 25%;
		}

		.right {
		  width: 75%;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}
		
		.desc {
			max-width: 700px;
		}
		
		.button1 {
			float:left;
		}

		</style>
    </head>

    <body>
        <a href="/">Home</a>
        <h1><span th:text="${name}">Title</span>&emsp;<span>
		<font size="3">
		<a th:href="${delete}">delete</a>
		</font>
		</span> </h1>
		<p>Year: <span th:text="${year}">Year</span> | Genre: <span th:text="${genre}">Genre</span> | Director: <span th:text="${director}">Director</span> | Length: <span th:text="${length}">Length</span> minutes</p>
		<br>
		<h3>Title description:</h3>
		<div class="desc">
		<p th:text="${desc}">Desc</p>
		</div>
		
		<br><br>
		
		<div class="row">
			<div class="column">
				<h3>Actors:</h3>
                                
                                <tr th:each="actor : ${actors}">
                                    <a th:href="${'/people/' + actor.id}"/><br/>
                                    <td th:text="${actor.name}"></td>
                                    </a>
                                </tr>
                                                          
				<br><br>
			</div>
                        <div class="column">
				<h3>Writers:</h3>
                                
                                <tr th:each="writer : ${writers}">
                                    <a th:href="${'/people/' + writer.id}"/><br/>
                                    <td th:text="${writer.name}"></td>
                                    </a>
                                </tr>

				<br><br>
			</div>
			<div class="column">
				<br><br>
				<form method="POST" th:action="${control}">
					Add or Remove:<br>
					<select name="peopleDrop" style="height:25px;width:200px">
						<span th:each="peopleChoice: ${people}"><option th:name="${peopleChoice.id}"><span th:text="${peopleChoice.name}">person</span></option></span>
					</select><br><br>
					<input type="submit" name="button" value="Add actor" style="height:30px;width:100px"/>
					<input type="submit" name="button" value="Add writer" style="height:30px;width:100px"/><br>
					<input type="submit" name="button" value="Remove actor" style="height:30px;width:100px"/>
					<input type="submit" name="button" value="Remove writer" style="height:30px;width:100px"/>
				</form>
			</div>
		</div>
		
		

    </body>
</html>
